[package]
name = "typervox"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.18", features = ["derive"] }
serde = { version = "1.0.213", features = ["derive"] }
serde_json = "1.0.132"
